---
layout: base
---

<div>
    <center>
        <h1>
            Workshop on Responsibly Building the Next Generation of Multimodal Foundational Models
        </h1>
        </br>
        <h3>
            NeurIPS 2024
        </h3>
        <h3>
            Date: 14th December,
            Location: Meeting Room 217 - 219,
            Vancouver, Canada
        </h3>
    </center>
</div>

<div>
    <h1 class="page-heading">Introduction</h1>
    <p>In recent years, the importance of interdisciplinary approaches focusing on multimodality
        (language+image+video+audio) has grown exponentially, driven by their impact in fields such as robotics.
        However, the rapid evolution of these technologies also presents critical challenges regarding their
        design, deployment, and societal impact. Large Language Models (LLMs) sometimes produce
        "hallucinations," and Text-to-Image (T2I) diffusion models can inadvertently generate “harmful
        content.” These models pose unique challenges in fairness and security. Addressing these challenges preemptively
        is crucial to breaking the cycle of reactive measures and
        reducing the substantial resource burden associated with post-hoc solutions. These preemptive
        measures can be applied at various stages, such as dataset curation and pre-training strategies, while
        maintaining resource efficiency to promote more sustainable development of generative models.</p>

    <p>Our workshop aims to provide a platform for the community to openly discuss and establish responsible design
        principles that will guide the development of the next generation of generative models.
        The goals of this workshop are to:
    </p>

    <ul>
        <li>Discuss methodologies that enhance the reliability of multimodal models, tackling key
            issues such as fairness, security, misinformation, and hallucinations.</li>
        <li>Enhance the robustness of these models against adversarial and backdoor attacks, thereby
            securing their integrity in adversarial environments.</li>
        <li>Identify the sources of reliability concerns, whether they stem from data quality, model
            architecture, or pre-training strategies.</li>
        <li>Explore novel design principles emphasizing responsibility and sustainability in multimodal
            generative models, aiming to reduce their extensive data and computational demands.</li>
    </ul>
</div>


<div>
    <h1 class="page-heading">Keynotes</h1>
</div>

<div class="container">
    <div class="card">
        <img src="https://anikem.github.io/images/profile_aniK.jpg" alt="Aniruddha Kembhavi">
        <div class="info">
            <p class="name">Aniruddha Kembhavi</p>
            <p class="position">AllenAI</p>
            <a href="https://anikem.github.io/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?hl=en&user=JnUevM0AAAAJ&view_op=list_works&sortby=pubdate"
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>

    <div class="card">
        <img src="https://aisecure.github.io/files/bo_li_headshot.jpg" alt="Bo Li">
        <div class="info">
            <p class="name">Bo Li</p>
            <p class="position">UIUC</p>
            <a href="https://aisecure.github.io/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?hl=en&user=K8vJkTcAAAAJ&view_op=list_works&sortby=pubdate"
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <img src="https://www.cs.umd.edu/sites/default/files/styles/medium/public/images/userpictures/Soheil%20Feizi-profile%20pic.jpg?itok=TzEmxITm"
            alt="Soheil Feizi">
        <div class="info">
            <p class="name">Soheil Feizi</p>
            <p class="position">UMD</p>
            <a href="https://www.cs.umd.edu/~sfeizi/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?hl=en&user=lptAmrMAAAAJ&view_op=list_works" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>

    <div class="card">
        <img src="https://scholar.googleusercontent.com/citations?view_op=view_photo&user=CYI6cKgAAAAJ&citpid=2"
            alt="David Bau">
        <div class="info">
            <p class="name">David Bau</p>
            <p class="position">NEU</p>
            <a href="https://baulab.info/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?hl=en&user=CYI6cKgAAAAJ&view_op=list_works&sortby=pubdate"
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>

    <div class="card">
        <img src="https://scholar.googleusercontent.com/citations?view_op=view_photo&user=eXKdSu0AAAAJ&citpid=6"
            alt="Yanjun Qi">
        <div class="info">
            <p class="name">Yanjun Qi</p>
            <p class="position">Amazon, UVa</p>
            <a href="https://qiyanjun.github.io/Homepage/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=eXKdSu0AAAAJ&hl=en" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>
</div>

</br>
</br>

<div>
    <h1 class="page-heading">Panels</h1>
</div>

<div class="container">
    <div class="card">
        <img src="https://scholar.googleusercontent.com/citations?view_op=medium_photo&user=TP_JZm8AAAAJ&citpid=4"
            alt="Jason Baldridge">
        <div class="info">
            <p class="name">Jason Baldridge</p>
            <p class="position">Google</p>
            <!-- <a href="https://anikem.github.io/" target="_blank"> Website</a> -->
            <a href="https://scholar.google.com/citations?user=TP_JZm8AAAAJ&hl=en" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>

    <div class="card">
        <img src="https://scholar.googleusercontent.com/citations?view_op=medium_photo&user=cDcWXuIAAAAJ&citpid=2"
            alt="Lijuan Wang">
        <div class="info">
            <p class="name">Lijuan Wang</p>
            <p class="position">Microsoft GenAI</p>
            <a href="https://www.microsoft.com/en-us/research/people/lijuanw/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=cDcWXuIAAAAJ&hl=zh-CN" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <img src="https://scholar.googleusercontent.com/citations?view_op=medium_photo&user=13yyuCcAAAAJ&citpid=12"
            alt="Furong Huang">
        <div class="info">
            <p class="name">Furong Huang</p>
            <p class="position">UMD</p>
            <a href="https://furong-huang.com/" target="_blank"> Website</a>
            <a href="https://scholar.google.com/citations?user=13yyuCcAAAAJ&hl=en" target="_blank"><i
                    class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>

    <div class="card">
        <img src="https://pbs.twimg.com/profile_images/1679586386708406273/gBm5q0um_400x400.jpg" alt="Lili Yu">
        <div class="info">
            <p class="name">Lili Yu</p>
            <p class="position">Meta AI</p>
            <!-- <a href="https://baulab.info/" target="_blank"> Website</a> -->
            <a href="https://scholar.google.com/citations?hl=en&user=wY932-AAAAAJ&view_op=list_works&sortby=pubdate"
                target="_blank"><i class="fa-brands fa-google-scholar"></i> Google Scholar</a>
        </div>
    </div>
</div>

</br>
</br>

<!-- <div>
    <h1 class="page-heading">Rising Stars Lightning Talks</h1>
</div> -->
<!-- <div>
    <h1 class="page-heading">Panel</h1>
</div> -->

<!-- <div>
    <br>
    <h1 class="page-heading" style="text-align: center;">Schedule</h1>
    <hr>
    <br>

    {% assign talks = site.talks %}
    {%- for talk in talks -%}

    <div class="footer-col-wrapper" style="{{talk.style}}">
        <div class="footer-col footer-col-1">
            <img src="{{talk.photo}}" width="128" height="128">
            <br>
            <p>
                <br>
                <b>Date:</b> {{ talk.Date }}
                <br>
                <b>Time:</b> {{ talk.Time }}
                <br>
                <b>Location:</b> {{ talk.Location }}
                <br>
                <b>YouTube Recooding: </b> <a href="{{ talk.YTLink }}">Link</a>
            </p>
            </p>
            <br>
            <img src="{{talk.aff_photo}}" width="128">
        </div>

        <div class="footer-col footer-col-3" style="width:60%">
            <b style="font-size: 21px;"><a href="{{ talk.Profile }}">{{ talk.Name }}</a></b></br>
            <b>{{ talk.Affilication }}</b></br>

            <p><b>Title: </b>{{ talk.Title }}</p>
            <p><b>Abstract: </b>{{ talk.Details }}</p>
        </div>



    </div>
    <hr>
    <br>

    {%- endfor -%}


</div> -->

<div>
    <h1 class="page-heading">Organizers</h1>

    {% assign orgs = site.orgs %}

    <div class="footer-col-wrapper">
        {%- for person in orgs -%}


        <div class="footer-col" style="padding-right: 60px;">
            <center>
                <img src="{{ person.photo }}" width="128" height="128"></br>
                <b><a href="{{ person.profile }}">{{ person.name }}</a></b>
                <!-- <p>{{ person.position }} </br> {{ person.affiliation }}</p> -->
                <p>{{ person.affiliation }}</p>
            </center>
        </div>

        {%- endfor -%}
    </div>

</div>